#headerContacto{
    background-image: url(../multimedia/header5.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.contenedorFormulario{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $tercerColor;
}
.tituloVerticalContacto{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.lineaContacto{
    @extend %titulos;
    color: $segundoColor;
    font-size: 8rem;
}
.formulario{
    width:1000px;
	padding:16px;
	border-radius:10px;
    margin:5px 20px ;
    font-size: 1.5rem;
    font-family: $texto;
    fieldset{
        padding: 10px;
    }
    label{
        margin: 10px;
        font-size:2rem;
    }
    input[type="text"], [type="email"]{
        width:100%;
        padding:3px 10px;
        margin:10px 0 10px;
        display:block;
        &:focus{
            background: rgba(0,0,0,.1);
            border-radius: 5px;
            outline: none;
        }
    }
    select{
        font-size: 1.5rem; 
        font-family: $texto;
    }
    input[type="submit"]{
        width:90%;
        padding:8px 16px;
        margin-top:32px;
        border:1px solid $colorNegro;
        border-radius:5px;
        display:block;
        background-color: $segundoColor ;
        font-size: 1.5rem;
    }
}
.servicioForm{
    margin:15px 0 20px;
}
.radio, .conocer{
    display: block;
    margin:15px 0 20px 0;
}

.conocer{
    p{
        font-size: 2rem;
    }
}
