@media screen and (max-width: 1024px){
    //MAIN

    header{
        max-height: 400px;
    }
    .logo{
        img{
            width: 60%;
        }
    }
    
    .menu{
        li{
            list-style-type: none;
            margin: 1rem;
            display: block;
            font-size: 2rem; 
        }
        a{
            padding: 1rem;
        }
    }
    .mainPadre{
        img{
            height: 300px;
        }
        p{
            display: block;
        }
    }
    .serviciosPadreIndex{
        display: flex;
        flex-wrap: wrap;
    }
    .galeria{
        img{
            width: 300px;
        }
    }
    .contactoBebas{
        font-size: 3rem;
    }

    // SOBRE MI

    .div__sobre,
    .div__sobre__info{
        width: 100%;
        height: 100%;
        position: initial;
        border-radius: 0;
        .div__sobre__info__texto{
            position: initial;
            font-size: 2rem;
            display: block;
            width: 100%;
            padding: 20px;
            margin-bottom: 0;
        }
        #img1,
        #img2{
            position: initial;
            max-width: 50%;
            display: flex;
            margin: auto ;
        }
    }
    .div__sobre__info__titulo{
        writing-mode: initial;
        transform: rotate(0);
        .div__sobre__info__titulo__linea{
            font-size: 6rem;
            letter-spacing: 2rem;
        }
    }

    // SERVICIOS
    .paginaServicios{
        img{
            margin: 0;
        }
        h2{
            padding-top: 20px;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            margin-bottom: 10px;
            text-align: justify;
        }
    }

    .comentariosCentrado{
        font-size: 2rem;
    }
    .menuSer{
        li{
            font-size: 2rem;
            a{
                padding: 1rem;
            }
        }
    }
    .serviciosPr{
        font-size: 5rem;
    }

    // GALERIA
    .contenedorGaleria{
        width: 100%;
        height: 100%;
        position: initial;
        border-radius: 0;}


    // CONTACTO
    .tituloVerticalContacto{
        writing-mode: initial;
        transform: rotate(360deg);
    }
    .contenedorFormulario{
        background-size: contain;
    }
    #contacto{
        height: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 425px){
    //SERVICIOS
    .servicios{
        h2{
            font-size: 3rem;
        }
    }

    .paginaServicios{
        h2{
            font-size: 3rem;
        }
    }

    .rowUno{
        padding: 0 0 40px;
    }
    .rowTres{
        padding: 40px 0;
    }
    #eventos, #books{
        margin-top: 15px;
    }


    // CONTACTO
    .contenedorFormulario{
        flex-direction: column; 
    }
    .tituloVerticalContacto{
        writing-mode: initial;
        transform: initial;
    }
    .lineaContacto{
        font-size: 4rem;
        letter-spacing: 1rem;
    }
    .formulario{
        width: 100%;
        padding: auto;
        margin: auto;
    }
}

@media screen and (max-width: 320px){
    // INDEX
    .mainPadre{
        h3{
            margin: auto;
        }
    }
    .galeria{
        h3{
            letter-spacing: 1.5rem;
        }
    }

    // SERVICIOS
    .serviciosPr{
        font-size: 4rem;
        letter-spacing: 1rem;
    }
}