@media screen and (max-width: 1024px){
    //MAIN

    header{
        max-height: 400px;
    }
    .logo{
        img{
            width: 60%;
        }
    }
    
    .menu{
        li{
            list-style-type: none;
            margin: 1rem;
            display: block;
            font-size: 2rem; 
        }
        a{
            padding: 1rem;
        }
    }
    .mainPadre{
        img{
            height: 300px;
        }
        p{
            display: block;
        }
    }
    .serviciosPadreIndex{
        display: flex;
        flex-wrap: wrap;
    }
    .galeria{
        img{
            width: 300px;
        }
    }
    .contactoBebas{
        font-size: 3rem;
    }

    // SOBRE MI

    .div__sobre,
    .div__sobre__info{
        width: 100%;
        height: 100%;
        position: initial;
        border-radius: 0;
        .div__sobre__info__texto{
            position: initial;
            font-size: 2rem;
            display: block;
            width: 100%;
            padding: 20px;
            margin-bottom: 0;
        }
        #img1,
        #img2{
            position: initial;
            max-width: 50%;
            display: inline-flex;
            margin: 10px;
        }
    }
    .div__sobre__info__titulo{
        writing-mode: initial;
        transform: rotate(0);
        .div__sobre__info__titulo__linea{
            font-size: 6rem;
            
        }
    }

    // SERVICIOS
    .paginaServicios{
        img{
            margin: 0;
        }
        h3{
            padding-top: 20px;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            margin-bottom: 10px;
            text-align: justify;
        }
    }

    .menuSer{
        li{
            font-size: 2rem;
            a{
                padding: 1rem;
            }
        }
    }
    .serviciosPr{
        font-size: 5rem;
    }

    // GALERIA
    .contenedorGaleria{
        width: 100%;
        height: 100%;
        position: initial;
        border-radius: 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px;
        grid-template-areas: 
        "titulo titulo"
        "img1 img2"
        "img1 img3"
        "img4 img5"
        "img6 img6"
        "img7 img8"
        "img9 img8"
        "img10 img10"
        "img14 img12"
        "img14 img13"
        "img11 img11" ;
        justify-content: center;
        grid-column-gap: 2px;
        grid-row-gap: 2px; 
    }
    .img1:hover,
    .img2:hover,
    .img3:hover,
    .img4:hover,
    .img5:hover,
    .img6:hover,
    .img7:hover,
    .img8:hover,
    .img9:hover,
    .img10:hover,
    .img11:hover,
    .img12:hover,
    .img13:hover,
    .img14:hover{
        transform:none
    }

    // CONTACTO
    #contacto{
        height: 100%;
        padding: 0;
        img{
            width: 300px;
            height: 230px;
            position: relative;
            border: 5px solid $colorBlancoDos;
            border-radius: 20px;
        }
    }
}