.mainPadre h3, .servicios h3, .galeria h3, .div__sobre__info__titulo .div__sobre__info__titulo__linea, .serviciosPr, .comentariosCentrado, .contenedorGaleria .tituloGaleria, .lineaContacto {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  letter-spacing: 4rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

footer {
  background-image: url(../multimedia/footer3.jpg);
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
  padding: 15px; }
  footer h3, footer p, footer a {
    margin: 10px; }
  footer .contactoBebas {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem; }
  footer .fa-instagram {
    color: #0c0c0c;
    font-size: 3rem; }

header {
  max-width: 100%;
  height: 100vh;
  max-height: 350px; }

#headerIndex {
  background-image: url(../multimedia/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; }

.logo img {
  width: 600px; }

.animate__fadeInDown {
  animation-duration: 2s; }

.menu li {
  list-style-type: none;
  font-size: 2rem;
  display: inline-block;
  margin: 2rem; }
  .menu li a {
    color: #F5F2FC;
    text-decoration: none;
    padding: 1.5rem; }
    .menu li a:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 1rem; }

.mainPadre {
  background-color: #ffffff;
  text-align: center;
  height: 40%; }
  .mainPadre img {
    height: 400px;
    margin-bottom: 15px; }
  .mainPadre h3 {
    font-size: 4rem;
    font-weight: 600;
    color: #7E6BC4;
    display: inline-block;
    margin: 20px; }
  .mainPadre p {
    color: #0c0c0c;
    font-size: 1.5rem; }
  .mainPadre a {
    text-decoration: none;
    color: #F5F2FC;
    font-size: 2rem; }
  .mainPadre button {
    background-color: #7E6BC4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px; }

.servicios {
  background-color: #D6C8FF; }
  .servicios h3 {
    color: #C79ECF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
    font-size: 4rem;
    font-weight: 600; }

.fotosIndex div {
  width: 50%; }
  .fotosIndex div img {
    width: 100%;
    height: 100%; }
  .fotosIndex div .post__text {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: background 0.2s;
    text-transform: uppercase; }
  .fotosIndex div .post__link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #333;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 3rem;
    text-decoration: none;
    color: #F5F2FC;
    font-weight: 700; }
  .fotosIndex div:hover .post__text {
    background: rgba(136, 6, 119, 0.322); }
  .fotosIndex div:hover .post__link {
    opacity: 1; }

.galeria {
  background-color: #FEF0FF;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .galeria img {
    border-radius: 20px;
    width: 500px;
    margin: 50px 0 35px 0; }
  .galeria a {
    color: #C79ECF; }
  .galeria h3 {
    font-size: 3rem; }

.header__Sobre {
  background-image: url(../multimedia/header2.jpg);
  background-size: cover;
  background-position: center;
  text-align: center; }

.div__sobre {
  height: 600px; }

.div__sobre__info {
  background-color: #D6C8FF;
  border-radius: 20px;
  height: 700px;
  width: 1280px;
  position: relative;
  top: -120px;
  max-width: 100%;
  margin: auto; }
  .div__sobre__info .div__sobre__info__texto {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    width: 400px;
    position: absolute;
    top: 70px;
    left: 800px;
    padding-top: 60px; }
  .div__sobre__info img {
    border: 5px solid #ffffff;
    border-radius: 20px;
    width: 300px; }

.div__sobre__info__titulo {
  padding-bottom: 25px;
  writing-mode: vertical-lr;
  transform: rotate(180deg); }
  .div__sobre__info__titulo .div__sobre__info__titulo__linea {
    color: #ffffff;
    font-size: 8.5rem; }

#img1 {
  position: absolute;
  left: 200px;
  top: 40px;
  z-index: 1; }

#img2 {
  position: absolute;
  left: 450px;
  top: 250px;
  z-index: 2; }

#headerServicio {
  background-image: url(../multimedia/header3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 100%; }

.paginaServicios {
  background-color: #D6C8FF;
  font-size: 2rem;
  max-width: 100%; }
  .paginaServicios h3 {
    color: #7E6BC4;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1.5rem; }
  .paginaServicios p {
    color: #0c0c0c;
    font-size: 2rem;
    font-weight: 400; }
  .paginaServicios img {
    border-radius: 20px; }

.menuSer li {
  list-style-type: none;
  font-size: 2.5rem; }
  .menuSer li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem; }
    .menuSer li a:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px; }

.serviciosPr {
  color: #ffffff;
  font-size: 9rem;
  padding-bottom: 20px; }

.comentariosCentrado {
  letter-spacing: 1.5rem;
  padding: 20px;
  font-size: 4rem; }

.comentarios {
  background-color: #F5F2FC;
  width: 100%; }
  .comentarios table {
    font-size: 1.5rem;
    border-collapse: collapse; }
    .comentarios table .corazonRojo {
      color: red; }
    .comentarios table th {
      color: #F5F2FC;
      background-color: #222831;
      padding: 10px; }
    .comentarios table td {
      padding: 10px; }
    .comentarios table ol li {
      list-style-type: none; }

#headerGaleria {
  background-image: url(../multimedia/header4.jpg);
  background-size: cover;
  background-position: center;
  text-align: center; }

.contenedorGaleria {
  background-color: #FEF0FF;
  border-radius: 20px;
  padding: 10px;
  height: 1100px;
  width: 1270px;
  max-width: 100%;
  margin: auto;
  position: relative;
  top: -120px;
  display: grid;
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: 130px 300px 300px 200px;
  grid-template-areas: "titulo titulo titulo titulo titulo" "img1 img2 img3 img4 img5" "img1 img6 img7 img8 img9" "img10 img11 img12 img13 img14";
  justify-content: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px; }
  .contenedorGaleria img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .contenedorGaleria .tituloGaleria {
    font-size: 8rem;
    color: #C79ECF; }

.tituloGaleria {
  grid-area: titulo; }

.img1 {
  grid-area: img1; }
  .img1:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img2 {
  grid-area: img2; }
  .img2:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img3 {
  grid-area: img3; }
  .img3:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img4 {
  grid-area: img4; }
  .img4:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img5 {
  grid-area: img5; }
  .img5:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img6 {
  grid-area: img6; }
  .img6:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img7 {
  grid-area: img7; }
  .img7:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img8 {
  grid-area: img8; }
  .img8:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img9 {
  grid-area: img9; }
  .img9:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img10 {
  grid-area: img10; }
  .img10:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img11 {
  grid-area: img11; }
  .img11:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img12 {
  grid-area: img12; }
  .img12:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img13 {
  grid-area: img13; }
  .img13:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

.img14 {
  grid-area: img14; }
  .img14:hover {
    transform: scale(1.5);
    transition-duration: 3s; }

#headerContacto {
  background-image: url(../multimedia/header5.jpg);
  background-size: cover;
  background-position: center;
  text-align: center; }

#contacto {
  background-color: #FEF0FF;
  display: inline; }
  #contacto img {
    width: 300px;
    height: 230px;
    border: 5px solid #ffffff;
    border-radius: 20px;
    display: block;
    margin: auto; }

.contenedorFormulario {
  display: flex;
  justify-content: space-evenly; }

.tituloVerticalContacto {
  writing-mode: vertical-lr;
  transform: rotate(180deg); }

.lineaContacto {
  color: #D6C8FF;
  font-size: 8rem; }

.formulario {
  width: 1000px;
  padding: 16px;
  border-radius: 10px;
  margin: 5px 20px;
  font-size: 1.5rem; }
  .formulario fieldset {
    padding: 10px; }
  .formulario label {
    margin: 10px; }
  .formulario input[type="text"], .formulario [type="email"] {
    width: 100%;
    padding: 3px 10px;
    margin: 10px 0 10px;
    display: block; }
    .formulario input[type="text"]:focus, .formulario [type="email"]:focus {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      outline: none; }
  .formulario select {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif; }
  .formulario input[type="submit"], .formulario [type="reset"] {
    width: 90%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #0c0c0c;
    border-radius: 5px;
    display: block;
    background-color: #D6C8FF;
    font-size: 1.5rem; }

.servicioForm {
  margin: 15px 0 20px; }

.radio, .conocer {
  display: block;
  margin: 15px 0 20px 0; }

@media screen and (max-width: 1024px) {
  header {
    max-height: 400px; }
  .logo img {
    width: 60%; }
  .menu li {
    list-style-type: none;
    margin: 1rem;
    display: block;
    font-size: 2rem; }
  .menu a {
    padding: 1rem; }
  .mainPadre img {
    height: 300px; }
  .mainPadre p {
    display: block; }
  .serviciosPadreIndex {
    display: flex;
    flex-wrap: wrap; }
  .galeria img {
    width: 300px; }
  .contactoBebas {
    font-size: 3rem; }
  .div__sobre,
  .div__sobre__info {
    width: 100%;
    height: 100%;
    position: initial;
    border-radius: 0; }
    .div__sobre .div__sobre__info__texto,
    .div__sobre__info .div__sobre__info__texto {
      position: initial;
      font-size: 2rem;
      display: block;
      width: 100%;
      padding: 20px;
      margin-bottom: 0; }
    .div__sobre #img1,
    .div__sobre #img2,
    .div__sobre__info #img1,
    .div__sobre__info #img2 {
      position: initial;
      max-width: 50%;
      display: flex;
      margin: auto; }
  .div__sobre__info__titulo {
    writing-mode: initial;
    transform: rotate(0); }
    .div__sobre__info__titulo .div__sobre__info__titulo__linea {
      font-size: 6rem; }
  .paginaServicios img {
    margin: 0; }
  .paginaServicios h3 {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase; }
  .paginaServicios p {
    margin-bottom: 10px;
    text-align: justify; }
  .menuSer li {
    font-size: 2rem; }
    .menuSer li a {
      padding: 1rem; }
  .serviciosPr {
    font-size: 5rem; }
  .contenedorGaleria {
    width: 100%;
    height: 100%;
    position: initial;
    border-radius: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
    grid-template-areas: "titulo titulo" "img1 img2" "img1 img3" "img4 img5" "img6 img6" "img7 img8" "img9 img8" "img10 img10" "img14 img12" "img14 img13" "img11 img11";
    justify-content: center;
    grid-column-gap: 2px;
    grid-row-gap: 2px; }
  .img1:hover,
  .img2:hover,
  .img3:hover,
  .img4:hover,
  .img5:hover,
  .img6:hover,
  .img7:hover,
  .img8:hover,
  .img9:hover,
  .img10:hover,
  .img11:hover,
  .img12:hover,
  .img13:hover,
  .img14:hover {
    transform: none; }
  #contacto {
    height: 100%;
    padding: 0; }
    #contacto img {
      width: 300px;
      height: 230px;
      position: relative;
      border: 5px solid #ffffff;
      border-radius: 20px; } }

@media screen and (max-width: 480px) {
  .servicios h3 {
    font-size: 2.5rem;
    letter-spacing: 3rem; }
  .paginaServicios h2 {
    font-size: 2.5rem;
    letter-spacing: 3rem; }
  .paginaServicios h3 {
    font-size: 2rem; } }
