.mainPadre h3, .servicios h3, .galeria h3, .div__sobre__info__titulo .div__sobre__info__titulo__linea, .serviciosPr, .lineaContacto {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  letter-spacing: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif; }

footer {
  background-image: url(../multimedia/footer3.jpg);
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
  padding: 15px; }
  footer h3, footer p, footer a {
    margin: 10px; }
  footer .contactoBebas {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem; }
  footer .fa-instagram {
    color: #0c0c0c;
    font-size: 3rem; }

header {
  max-width: 100%;
  height: 100vh;
  max-height: 350px; }

#headerIndex {
  background-image: url(../multimedia/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; }

.logo img {
  width: 600px; }

.animate__fadeInDown {
  animation-duration: 2s; }

.menu li {
  list-style-type: none;
  font-size: 2rem;
  display: inline-block;
  margin: 2rem; }
  .menu li a {
    color: #F5F2FC;
    text-decoration: none;
    padding: 1.5rem; }
    .menu li a:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 1rem; }

.mainPadre {
  background-color: #ffffff;
  text-align: center;
  height: 40%; }
  .mainPadre img {
    height: 400px;
    margin-bottom: 15px; }
  .mainPadre h3 {
    font-size: 4rem;
    font-weight: 600;
    color: #7E6BC4;
    display: inline-block;
    margin: 20px; }
  .mainPadre p {
    color: #0c0c0c;
    font-size: 1.5rem; }
  .mainPadre a {
    text-decoration: none;
    color: #F5F2FC;
    font-size: 2rem; }
  .mainPadre button {
    background-color: #7E6BC4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px; }

.servicios {
  background-color: #D6C8FF; }
  .servicios h3 {
    color: #C79ECF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
    font-size: 4rem;
    font-weight: 600; }

.fotosIndex div {
  width: 50%; }
  .fotosIndex div img {
    width: 100%;
    height: 100%; }
  .fotosIndex div .post__text {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: background 0.2s;
    text-transform: uppercase; }
  .fotosIndex div .post__link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #333;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 3rem;
    text-decoration: none;
    color: #F5F2FC;
    font-weight: 700; }
  .fotosIndex div:hover .post__text {
    background: rgba(136, 6, 119, 0.322); }
  .fotosIndex div:hover .post__link {
    opacity: 1; }

.galeria {
  background-color: #FEF0FF;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .galeria img {
    border-radius: 20px;
    width: 500px;
    margin: 50px 0 35px 0; }
  .galeria a {
    color: #C79ECF; }
  .galeria h3 {
    font-size: 3rem; }

.header__Sobre {
  background-image: url(../multimedia/header2.jpg);
  background-size: cover;
  background-position: center;
  text-align: center; }

.div__sobre {
  height: 600px; }

.div__sobre__info {
  background-color: #D6C8FF;
  border-radius: 20px;
  height: 700px;
  width: 1280px;
  position: relative;
  top: -120px;
  max-width: 100%;
  margin: auto; }
  .div__sobre__info .div__sobre__info__texto {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    width: 400px;
    position: absolute;
    top: 70px;
    left: 800px;
    padding-top: 60px; }
  .div__sobre__info .div__sobre__info__imagenes {
    display: flex;
    justify-content: center; }
    .div__sobre__info .div__sobre__info__imagenes img {
      border: 5px solid #ffffff;
      border-radius: 20px;
      width: 300px; }

.div__sobre__info__titulo {
  padding-bottom: 25px;
  writing-mode: vertical-lr;
  transform: rotate(180deg); }
  .div__sobre__info__titulo .div__sobre__info__titulo__linea {
    color: #ffffff;
    font-size: 8.5rem; }

#img1 {
  position: absolute;
  left: 200px;
  top: 40px;
  z-index: 1; }

#img2 {
  position: absolute;
  left: 450px;
  top: 250px;
  z-index: 2; }

#headerServicio {
  background-image: url(../multimedia/header3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 100%; }

.menuSer li {
  list-style-type: none;
  font-size: 2.5rem; }
  .menuSer li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem; }
    .menuSer li a:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px; }

.paginaServicios {
  background-color: #FEF0FF;
  font-size: 2rem;
  max-width: 100%; }
  .paginaServicios h2 {
    color: #7E6BC4;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center; }
  .paginaServicios p {
    color: #0c0c0c;
    font-size: 2rem;
    font-weight: 600; }

.serviciosPr {
  color: #C79ECF;
  font-size: 7rem;
  padding: 20px 0; }

.textoServicios {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.fotosExtra img {
  margin: 0;
  width: 30%;
  object-fit: cover; }

.rowUno {
  padding: 50px 0 120px; }

.rowTres {
  padding-top: 120px; }
  .rowTres h3 {
    font-size: 2.5rem;
    font-weight: 600; }

.comentariosCentrado h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-size: 3.5rem; }

.comentarios {
  padding: 80px 0 80px 0;
  background-color: #FEF0FF;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300; }
  .comentarios .corazonRojo {
    color: red;
    font-size: 3rem; }
  .comentarios h4 {
    font-size: 3rem;
    font-weight: 700; }
  .comentarios h5 {
    font-size: 2rem;
    font-weight: 500; }

#headerGaleria {
  background-image: url(../multimedia/header4.jpg);
  background-size: cover;
  background-position: center;
  text-align: center; }

.contenedorGaleria {
  background-color: #C79ECF;
  border-radius: 20px;
  padding: 10px;
  width: 1270px;
  max-width: 100%;
  position: relative;
  top: -120px; }
  .contenedorGaleria img {
    vertical-align: middle; }
  .contenedorGaleria .tituloGaleria {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 1.5rem;
    color: #FEF0FF;
    font-size: 7rem;
    margin: auto; }

.img-galeria {
  height: 300px;
  width: 100%;
  object-fit: cover;
  padding: 5px;
  transition: all 1s; }

.img-galeria:hover {
  opacity: 30%; }

.modal-img {
  width: 100%;
  object-fit: cover; }

.button-galeria {
  background-color: #C79ECF;
  border: none; }

.button-galeria:focus {
  outline: none; }

.modal-title {
  font-size: 2rem;
  margin: auto; }

.modal-content {
  background-color: #C79ECF; }

.modal-header {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem; }

#headerContacto {
  background-image: url(../multimedia/header5.jpg);
  background-size: cover;
  background-position: center;
  text-align: center; }

.contenedorFormulario {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #D6C8FF; }

.tituloVerticalContacto {
  writing-mode: vertical-lr;
  transform: rotate(180deg); }

.lineaContacto {
  color: #C79ECF;
  font-size: 8rem; }

.formulario {
  width: 1000px;
  padding: 16px;
  border-radius: 10px;
  margin: 5px 20px;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif; }
  .formulario fieldset {
    padding: 10px; }
  .formulario label {
    margin: 10px;
    font-size: 2rem; }
  .formulario input[type="text"], .formulario [type="email"] {
    width: 100%;
    padding: 3px 10px;
    margin: 10px 0 10px;
    display: block; }
    .formulario input[type="text"]:focus, .formulario [type="email"]:focus {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      outline: none; }
  .formulario select {
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif; }
  .formulario input[type="submit"] {
    width: 90%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #0c0c0c;
    border-radius: 5px;
    display: block;
    background-color: #C79ECF;
    font-size: 1.5rem; }

.servicioForm {
  margin: 15px 0 20px; }

.radio, .conocer {
  display: block;
  margin: 15px 0 20px 0; }

.conocer p {
  font-size: 2rem; }

@media screen and (max-width: 1024px) {
  header {
    max-height: 400px; }
  .logo img {
    width: 60%; }
  .menu li {
    list-style-type: none;
    margin: 1rem;
    display: block;
    font-size: 2rem; }
  .menu a {
    padding: 1rem; }
  .mainPadre img {
    height: 300px; }
  .mainPadre p {
    display: block; }
  .serviciosPadreIndex {
    display: flex;
    flex-wrap: wrap; }
  .galeria img {
    width: 300px; }
  .contactoBebas {
    font-size: 3rem; }
  .div__sobre,
  .div__sobre__info {
    width: 100%;
    height: 100%;
    position: initial;
    border-radius: 0; }
    .div__sobre .div__sobre__info__texto,
    .div__sobre__info .div__sobre__info__texto {
      position: initial;
      font-size: 2rem;
      display: block;
      width: 100%;
      padding: 20px;
      margin-bottom: 0; }
    .div__sobre #img1,
    .div__sobre #img2,
    .div__sobre__info #img1,
    .div__sobre__info #img2 {
      position: initial;
      max-width: 50%;
      display: flex;
      margin: auto; }
  .div__sobre__info__titulo {
    writing-mode: initial;
    transform: rotate(0); }
    .div__sobre__info__titulo .div__sobre__info__titulo__linea {
      font-size: 6rem;
      letter-spacing: 2rem; }
  .paginaServicios img {
    margin: 0; }
  .paginaServicios h2 {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase; }
  .paginaServicios p {
    margin-bottom: 10px;
    text-align: justify; }
  .comentariosCentrado {
    font-size: 2rem; }
  .menuSer li {
    font-size: 2rem; }
    .menuSer li a {
      padding: 1rem; }
  .serviciosPr {
    font-size: 5rem; }
  .contenedorGaleria {
    width: 100%;
    height: 100%;
    position: initial;
    border-radius: 0; }
  .tituloVerticalContacto {
    writing-mode: initial;
    transform: rotate(360deg); }
  .contenedorFormulario {
    background-size: contain; }
  #contacto {
    height: 100%;
    padding: 0; } }

@media screen and (max-width: 425px) {
  .servicios h2 {
    font-size: 3rem; }
  .paginaServicios h2 {
    font-size: 3rem; }
  .rowUno {
    padding: 0 0 40px; }
  .rowTres {
    padding: 40px 0; }
  #eventos, #books {
    margin-top: 15px; }
  .contenedorFormulario {
    flex-direction: column; }
  .tituloVerticalContacto {
    writing-mode: initial;
    transform: initial; }
  .lineaContacto {
    font-size: 4rem;
    letter-spacing: 1rem; }
  .formulario {
    width: 100%;
    padding: auto;
    margin: auto; } }

@media screen and (max-width: 320px) {
  .mainPadre h3 {
    margin: auto; }
  .galeria h3 {
    letter-spacing: 1.5rem; }
  .serviciosPr {
    font-size: 4rem;
    letter-spacing: 1rem; } }
